*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 400px;
    width: 400px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
}
.box{
    background-color: black;
    color: white;
    font-size: 28px;
    border: 1px solid white;

}
