body{
    margin: 0px;
}
.container{
    background-color: grey;
    height: 100vh;
    
}
.box{
    border: 5px solid;
    font-size: 5em;
    padding: 25px;
    height: auto;
    width: auto;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
#box1{
    background-color: red;
}
#box2{
    background-color: hsl(189,100%,55%);
}