body{
    display: flex;
    border: 1px solid;
    height: 90vh;
}
.conatiner{
    border: 1px solid;
    
}
header{
    
}
nav{
    border: 1px solid;
    height: 5em;
}
.main{
    display: flex;
    border: 1px soild;
}